## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Namatanai,PG,85.64,overcast clouds,-3.67,152.43,Namatanai Hotel
1,10,Mogadishu,SO,78.76,moderate rain,2.04,45.34,Hotel Juba
2,13,Yulara,AU,84.20,scattered clouds,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
3,16,Vaini,TO,80.60,few clouds,-21.20,-175.20,Keleti Beach Resort
4,17,Atuona,PF,77.85,few clouds,-9.80,-139.03,Villa Enata

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<d1>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</d1>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [11]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]== "Ukiah")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Ukiah")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Fremont")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "San Jose")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] =="Laguna")] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
101,379,Ukiah,US,80.6,clear sky,39.15,-123.21,Hampton Inn Ukiah

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

stop3

(38.42, -121.42)

In [67]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

Ukiah = start
Fremont = stop1
SanJose = stop2
Laguna = stop3
Ukiah2 = end

# fig = gmaps.figure()
# Ukiah2Ukiah = gmaps.directions_layer(Ukiah, Ukiah)
# fig.add_layer(Ukiah2Laguna)
# fig

fig = gmaps.figure()
Ukiah2Ukiah_via_Fremont_SanJose_Laguna = gmaps.directions_layer(
    Ukiah, Ukiah2, waypoints=[Fremont, SanJose,Laguna],
    travel_mode='DRIVING')
fig.add_layer(Ukiah2Ukiah_via_Fremont_SanJose_Laguna)
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,379,Ukiah,US,80.60,clear sky,39.15,-123.21,Hampton Inn Ukiah
1,337,Fremont,US,75.00,few clouds,37.55,-121.99,Best Western Plus Garden Court Inn
2,226,San Jose,US,81.00,haze,37.34,-121.89,The Westin San Jose
3,636,Laguna,US,80.01,clear sky,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
4,379,Ukiah,US,80.60,clear sky,39.15,-123.21,Hampton Inn Ukiah

In [73]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<d1>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</d1>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [74]:
# 11a. Add a marker layer for each city to the map.

locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))